<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{name}}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "stylesheets/main.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/account.css" %}">
  <!-- <link rel="stylesheet" href="{% static "stylesheets/preloader.css" %}"> -->
</head>
<body>
  {% csrf_token %}
  <header>
    <h3 id="logout">Выйти из аккаунта</h3>
    <a class="back-link" href="/">На главную</a>
  </header>
  <div class="grid-wrapper">
    <div class="col-1">
      <div class="acc-info">
        <div class="circle"></div>
        <h2>{{name}}</h2>
        <p></p>
      </div>
      <div class="acc-menu">
        <button class="menu-btn tablinks" onclick="openTab(event, '1')" id="defaultOpen">
          {% if roleUser %}
            Список отправленных заявок
          {% elif roleStaff %}
            Список заявок
          {% endif %}
        </button>
        <button class="menu-btn tablinks" onclick="openTab(event, '2')">Личная информация</button>
        {% if isSuper %}
        <button class="menu-btn tablinks" onclick="openTab(event, '3')">Список аккаунтов</button>
        {% endif %}
        {% if roleOrganizer %}
        <button class="menu-btn tablinks" onclick="openTab(event, '3')">Список принятых заявок</button>
        {% endif %}
      </div>
    </div>
    <div class="col4">
      <div class="workspace">
        <div id="1" class="tabcontent">
          <h3>Список</h3>
          <div class="requests-list">
            {% for request in requests %}
            <div>
              <div class="request">
                <div class="state {{request.stateClass}}">{{request.stateText}}</div>
                <img src="{% get_media_prefix %}{{ request.image }}">
                <div class="text">
                  <p>{{ request.title }}</p>
                  <p>{{ request.adress }}</p>
                  <p>{{ request.description }}</p>
                  {% if roleOrganizer %}
                  <p><button class="styled-btn" onclick="choose('{{ request.id }}')">Добавить в свой список</button></p>
                  {% endif %}
                  <p><a href="announcemet/{{ request.id }}"><button class="styled-btn">Перейти к странице коливинга</button></a></p>
                </div>
              </div>
            </div>
            {% empty %}
              Список пуст
            {% endfor %}
          </div>
        </div>
        <div id="2" class="tabcontent">
          <h3>Личная информация</h3>
          <form id="data-form">
            <div class="input-container">
              <input id="name-field" name="name" type="text" placeholder="Ваше полное имя" class="input-field" autocomplete="off" value="{{userFullName}}">
              <label for="name-field" class="textholder">Ваше полное имя</label>
            </div>
            <div class="input-container">
              <input id="password-field" name="password" type="password" placeholder="Ваш пароль" class="input-field" autocomplete="off" value="{{userPassword}}">
              <label for="password-field" class="textholder">Ваш пароль</label>
            </div>
            <div class="input-container">
              <input id="contact-field" type="text" name="contact" placeholder="Ваши контактные данные" class="input-field" autocomplete="off" value="{{userContact}}">
              <label for="contact-field" class="textholder">Ваши контактные данные</label>
            </div>
            <div id="error-msg" class="error-msg"></div>
            <div id="ok-msg" class="ok-msg"></div>
            <input type="submit" value="Изменить информацию" class="styled-btn">
          </form>
        </div>
        {% if isSuper %}
        <div id="3" class="tabcontent">
          <h3>Список аккаунтов</h3>
          <a href="adminpage/create">
            <button class="styled-btn">Создать новый аккаунт</button>
          </a>
          <div class="accs-list">
            <p>Имя</p>
            <p>Логин</p>
            <p>Пароль</p>
            <p>Контакт</p>
            <p>Роль</p>
            <p></p>
            <p></p>
            {% for acc in accounts %}
              <p>{{ acc.name }}</p>
              <p>{{ acc.login }}</p>
              <p>{{ acc.password }}</p>
              <p>{{ acc.contact }}</p>
              <p>
                {% if acc.isUser %}
                  user
                {% elif acc.isOrganizer %}
                  organizer
                {% elif acc.isConsultant %}
                  consultant
                {% endif %}
              </p>
              <p><a href="adminpage/change/{{acc.login}}"><button class="styled-btn">Редактировать</button></a></p>
              <p><button class="styled-btn" onclick="deleteUser('{{acc.login}}')">Удалить</button></p>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% if roleStaff and not isSuper %}
        <div id="3" class="tabcontent">
          <h3>Список принятых заявок</h3>
          <div class="requests-list">
            {% for request in accepted %}
            <a href="requestediting/{{ request.id }}">
              <div class="request">
                <div class="state {{request.stateClass}}">{{request.stateText}}</div>
                <img src="{% get_media_prefix %}{{ request.image }}">
                <div class="text">
                  <p>{{ request.title }}</p>
                  <p>{{ request.adress }}</p>
                  <p>{{ request.description }}</p>
                </div>
              </div>
            </a>
            {% empty %}
              Список пуст
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <script src="{% static "scripts/main.js" %}"></script>
  <script src="{% static "scripts/tabs.js" %}"></script>
  <script src="{% static "scripts/account.js" %}"></script>
</body>
</html>