<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "stylesheets/main.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/announcemet.css" %}">
</head>
<body>
  <header>
    <a class="back-link" href="/">На главную</a>
    <h3 onclick="window.history.go(-1);">Назад</h3>
  </header>
  <div class="wrapper">
    <div class="dialog">
      <img src="{{ image }}">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>
      <p>Осталось мест: {{ freespaces }}</p>
      <p class="adress">Адрес: {{ adress }}</p>
      <p class="footer">Организатор коливинга: {{ name }}, {{ contact }}</p>
      {% if isThisOrganizer %}
      <hr>
      <p>Владелец: {{ ownerName }} {{ ownerContact }}</p>
      {% endif %}
      {% if isOwner and hasProject %}
      <a href="{{ projectFile }}" download="Проект">
        <img src="{% static "images/pdf-icon.png" %}" alt="pdf" class="download-icon">
        <p>Скачать проект</p>
      </a>
      {% endif %}
    </div>
  </div>
  <script src="{% static "scripts/main.js" %}"></script>
</body>
</html>