.wrapper {
  background-color: #7692FF;
  min-height: 100vh;
  padding: 80px 0;
}
.dialog {
  margin: 0 auto;
  width: 1000px;
}
.dialog img {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 20px;
}
.dialog .adress {
  font-size: 18px;
}