@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}
[disabled] {
  cursor: not-allowed !important;
}
h1,h2,h3,h4,h5,h6 {
  color: #091540;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}
header h3, header a {
  padding: 12px;
  cursor: pointer;
  background-color: #fff;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-right: 10px;
}
header a {
  color: #091540;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.flex-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.container {
  flex-grow: 1;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container:hover {
  flex-grow: 5;
}
.container.searching {
  background-color: #7692FF;
  height: 100%;
  clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
}
.container.renting {
  background-color: #ABD2FA;
  height: 100%;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 10% 0);
}
.greetings {
  transition: 0.3s;
}
.styled-btn {
  margin-top: 12px;
  padding: 12px;
  background-color: #3D518C;
  color: #fff;
  font-weight: 700;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.placeholder {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0005;
  width: 100%;
  height: 100vh;
  z-index: 20;
  justify-content: center;
  align-items: center;
  display: none;
}
.dialog {
  width: 500px;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 30px;
  position: relative;
}
.dialog h3 {
  font-size: 32px;
}
.dialog p {
  margin-top: 20px;
  font-size: 24px;
}
.tab {
  width: 100%;
  display: flex;
}
.tab button {
  cursor: pointer;
  padding: 14px 16px;
  transition: .3s;
  margin-top: 0;
  color: #091540;
  background-color: #fff;
  position: relative;
  font-size: 24px;
}
.tab button::before {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 10%;
  width: 0;
  height: 3px;
  background-color: #091540;
  transition: 0.3s;
}
.tab button:hover::before {
  width: 30%;
}
.tab button.active::before {
  width: 80%;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1s;
  margin-top: 30px;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.input-container {
  position: relative;
}
.input-container:not(:first-child) {
  margin-top: 10px;
}
.input-field {
  padding: 12px;
  border: 1px #091540 solid;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
}
.input-field::-webkit-input-placeholder {
  color: #ffffff;
}
.input-container .textholder {
  position: absolute;
  top: 12px;
  left: 13px;
  font-size: 18px;
  transition: 0.3s;
  user-select: none;
}
.input-field:not(:placeholder-shown) ~ .textholder {
  left: 7px;
  top: -9px;
  font-size: 14px;
  background-color: #fff;
}
form input[type=submit] {
  margin-top: 20px;
}
form textarea {
  resize: vertical;
  min-height: 80px;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 30;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.close-btn::before, .close-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 9px;
  transform: rotate(45deg);
  width: 1px;
  height: 20px;
  background-color: #091540;
}
.close-btn::after {
  transform: rotate(-45deg);
}
.tooltip {
  position: fixed;
  background-color: #F2F2DB;
  color: #091540;
  padding: 5px;
  z-index: 30;
  font-weight: 700;
  border-radius: 5px;
}
.tooltip::before {
  position: absolute;
  content: '';
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  background-color: #F2F2DB;
  left: 10px;
  top: -4px;
  z-index: 20;
}
.error-msg, .ok-msg {
  margin: 12px;
  color: #e53935;
  display: none;
}
.ok-msg {
  color: #4CAF50;
}