.search-wrapper {
  background: #7692FF;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
}
.dialog {
  margin: 0 auto;
  transition: 0.3s;
  width: 1000px;
}
.input-container {
  width: 50%;
  margin: 0 auto;
}
.search-container input {
  display: inline-block;
}
#search-field {
  border-radius: 0;
  border: none;
  position: relative;
}
#search-field ~ .textholder {
  bottom: 0;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 1px;
  background-color: #091540;
  transition: .3s;
}
#search-field:not(:placeholder-shown) ~ .textholder {
  width: 100%;
}
#search-field::-webkit-input-placeholder {
  color: #757575;
}
#preloader {
  height: 120px;
  display: none;
  margin-top: 30px;
}
.announcemets-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}
.announcemet {
  margin-top: 30px;
}
.announcemet img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  animation: fadingOut .3s;
}
.announcemet .description {
  margin-top: 10px;
  padding: 12px;
  animation: fadingOut2 .6s;
}
@keyframes fadingOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadingOut2 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}